img_res/arrleft.dia
img_res/arrright.dia
img_res/close.dia
img_res/copy.dia
img_res/copyplus.dia
img_res/exit.dia
img_res/folder.dia
img_res/heart.dia
img_res/magnify.dia
img_res/minify.dia
es.qm
papyrus.jpg
pl.qm
pl0.ts
QtBibleViewer.pro.user
QtBibleViewer.pro.user.867f8c7
QtBibleViewer.pro.user.e8f9f59